<a class="flex flex-col gap-y-2 p-6 rounded-lg transition-all border-2 border-zinc-100 dark:border-zinc-800 hover:bg-zinc-100 dark:hover:bg-zinc-800{% if project.featured %} md:col-span-2{% endif %}" href="https://github.com/{{ project.github }}">
  <h4 class="font-bold font-satoshi text-xl">
    {{ project.name }}
  </h4>
  <p class="text-opacity-90">
    {{ project.description }}
  </p>
</a>

{# bg-tag-0 bg-tag-1 bg-tag-2 bg-tag-3 bg-tag-4 #}
