---
layout: 'base'
title: 'GunsOrigins'
permalink: '/'
---

<article class="enhanced-prose">

{% renderTemplate "md" %}
# I'm GunsOrigins.

A high school student.
## Blog posts
{% endrenderTemplate %}

<div class="not-prose">
  {% set postslist = collections.posts | reverse | head(5) %}
  {% set postslistcompact = true %}
  {% include "postslist.njk" %}
</div>

{% renderTemplate "md" %}
## Projects
{% endrenderTemplate %}

<div class="not-prose flex flex-col">
  <div class="projects-grid">
    {% for project in projects.projects %}
      {% include "projectCard.njk" %}
    {% endfor %}
  </div>
  <a href="{{ '/projects/' | url }}" class="px-2 py-1 rounded transition font-medium link-colors self-end">See more &rightarrow;</a>
</div>

</article>
